node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml


# target files
target/**
/target/

# ignore a single file
configuration.json

# ignore a file type
*.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json
!package-lock.json
